:root {
    --dark: #1d1d1d;
    --grey-dark: #414141;
    --light: #fff;
    --mid: #ededed;
    --grey: #989898;
    --gray: #989898;
    --green: #28a92b;
    --green-dark: #4e9815;
    --green-light: #6fb936;
    --blue: #2c7ad2;
    --purple: #8d3dae;
    --red: #c82736;
    --orange: #e77614;
    accent-color: var(--green);
  }
  
  body {
    background-color: #111;
    font-family: 'Signika Negative', sans-serif, Arial;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #smooth-content {
    overflow: visible;
    width: 100%;
    /* set a height because the contents are position: absolute, thus natively there's no height */
    /* height: 4000px; */
  
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.07) 2px,
        transparent 2px
      ),
      linear-gradient(90deg, rgba(255, 255, 255, 0.07) 2px, transparent 2px),
      linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  }
  
  .container {
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrap {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  .box {
    width: 100px;
    height: 100px;
    background-color: #8d3dae;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .asset-1 {
    position: fixed;
    top: calc(50vh - 115px);
    left: calc(50vw - 68px);
    z-index: 2;
    max-width: 100px;
    height: auto;
}
.asset-3 {
    position: fixed;
    top:  calc(50vh - 187px);
    left: calc(50vw - 66px);
    z-index: 2;
    max-width: 50px;
    height: auto;
}
.asset-2 {
    position: fixed;
    top: calc(50vh - 204px);
    left: calc(50vw - 13px);
    z-index: 2;
    max-width: 108px;
    height: auto;
}
.asset-4 {
    position: absolute;
    top:  calc(50vh - 200px);
    left: calc(50vw - 90px);
    max-width: 180px !important;
    height: auto;
}