body{
    background-color: #fbfcf4;
}
*, .section{
    scroll-behavior: smooth;
}
*::-webkit-scrollbar {
    display: none;
  }
.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}
.footer-container {
    max-width: 1060px;
    text-align: center;
    margin: auto;
    padding: 0 26px;
}
.footer-container a, .form-image p {
    font-size: 0.5em;
    letter-spacing: 1;
    color: #6e6e6e;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
    border-bottom:  none;
    text-decoration: none;
}
.footer-container a:hover {
    text-decoration: underline;
}
.form-image p {
    font-size: 0.25em;
    margin-top: 0;
}

.section{
    text-align: center;
    font-size: 4em;
    color: #000;
    opacity: 0;
}

.fp-section {
    opacity: 1;
}
.section-pattern.fp-section {
    height: 100vh !important;
}
.fp-watermark {
    right: -330px !important;
    opacity: 0 !important;
}

.actions{
    list-style-type: none;
}
.actions button{
    padding: .93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    border: 0;
    color: #fff;
    margin: 7px;
    font-size: 15px;
    cursor: pointer;
}
.actions button:hover{
    background: #fff;
    color: #35495e;
}
h1 {
    font-weight: 100;
    letter-spacing: 3px;
    font-size: 1.5em;
}
.telling {
    margin-bottom: -30px;
    margin-left: 20px;
    margin-right: 20px;
}
.curating {
    transition: ease-in-out 300ms;
}
.curating.active {
    opacity: 1;
    transition: 200ms ease-in-out 300ms;
}
.curating .curating-image {
    transform: translateY(-160px);
    transition: 1000ms ease-in-out 200ms;
}
.fp-viewing-3 .curating .curating-image {
    transform: translateY(0px);
}
h2 {
    line-height: 1.1;
    letter-spacing: 3px;
    font-size: 1.1em;
}
.clients {
    display: flex;
    column-gap: 16px;
    align-items: center;
    justify-content: center;
}
.clients ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0 1.2%;
    font-size: 0.6em;
    align-items: center;
    justify-content: center;
    font-weight: 300;
  }
  .clients-mobile {display: none;}

.pattern {
    overflow: hidden;
    height: 100vh !important;
    width: 100vw !important;
}
.pattern .mobile {
    display: none;
}

.LOGOTYPE {position: absolute;
    margin-left: -400px;
    left: 50%;

}
.loaded .asset-1, .loaded .asset-2, .loaded .asset-3 {
    transition: ease-in-out 1200ms;
}
.asset-1 {
    position: fixed;
    top: calc(50vh - 115px);
    left: calc(50vw - 68px);
    z-index: 2;
    max-width: 100px;
    height: auto;
}
.asset-3 {
    position: fixed;
    top:  calc(50vh - 187px);
    left: calc(50vw - 66px);
    z-index: 2;
    max-width: 50px;
    height: auto;
}
.asset-2 {
    position: fixed;
    top: calc(50vh - 204px);
    left: calc(50vw - 13px);
    z-index: 2;
    max-width: 108px;
    height: auto;
}
.asset-4 {
    position: absolute;
    top:  calc(50vh - 200px);
    left: calc(50vw - 90px);
    max-width: 180px !important;
    height: auto;
}
.fp-viewing-1
.asset-1 {
    top: calc(27vh);
    left: calc(45vw);
    z-index: 0;
    transition: z-index ease-in-out 600ms, top ease-in-out 1300ms, left ease-in-out 1300ms;
}
.fp-viewing-1 .asset-2 {
    top: calc(50vh);
    left: calc(35vw);
    z-index: 0;
    transition: z-index ease-in-out 600ms, top ease-in-out 1300ms, left ease-in-out 1300ms;
}

.fp-viewing-1 .asset-3 {
    top:  calc(64vh);
    left: calc(57vw);
    z-index: 0;
    transition: z-index ease-in-out 600ms, top ease-in-out 1300ms, left ease-in-out 1300ms, rotate ease-in-out 1300ms;
    rotate: -90deg;
}

.fp-viewing-2 .asset-1, .fp-viewing-2 .asset-2, .fp-viewing-2 .asset-3 {
    z-index: -1;
    transition: ease-in-out 1400ms;
}
.fp-viewing-2
.asset-1 {
    top: calc(27vh);
    left: calc(15vw);
    z-index: 0;
    rotate: 40deg;
}
.fp-viewing-2 .asset-2 {
    top: calc(80vh);
    left: calc(85vw);
    z-index: 0;
    rotate: 110deg;
}

.fp-viewing-2 .asset-3 {
    top:  calc(44vh);
    left: calc(17vw);
    rotate: -40deg;
    z-index: 0;

}

.fp-viewing-3
.asset-1 {
    top: calc(74vh);
    left: calc(15vw);
    z-index: 0;
    rotate: 80deg;
}
.fp-viewing-3 .asset-2 {
    top: calc(66vh);
    left: calc(85vw);
    z-index: 0;
    rotate: 110deg;
}

.fp-viewing-3 .asset-3 {
    top:  calc(49vh);
    left: calc(41vw);
    rotate: 0deg;
    z-index: 0;
}
.fp-viewing-4
.asset-1 {
    top: calc(74vh);
    left: calc(-15vw);
    z-index: 0;
    rotate: 80deg;
}
.fp-viewing-4 .asset-2 {
    top: calc(76vh);
    left: calc(115vw);
    z-index: 0;
    rotate: 110deg;
}

.fp-viewing-4 .asset-3 {
    top:  calc(-29vh);
    left: calc(-20vw);
    rotate: 0deg;
    z-index: 0;
}
.email-address {
    border: none;
    outline: none;
    padding: 4px 32px;
    background: transparent;
    border-bottom: 4px solid #000000;
    font-size: 0.5em;
    letter-spacing: 1;
    color: #6e6e6e;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}
input.email-address:focus, 
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:autofill {
    background: transparent !important;
    background-color: #fbfcf4 !important;
    -webkit-box-shadow: 0 0 0px 1000px #fbfcf4 inset;

  }

.form-image {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -150px;
}
@media (max-width: 767px){
    .LOGOTYPE {
        margin-top: 20px;
    }

    .asset-1 {
        max-width: 63px;
        height: auto;
        top: calc(50vh - 98px);
        left: calc(50vw - 45px);
    }
    .asset-3 {
        max-width: 36px;
        height: auto;
        top: calc(50vh - 150px);
        left: calc(50vw - 45px);
    }
    .asset-2 {
        max-width: 74px;
        height: auto;
        top: calc(50vh - 164px);
        left: calc(50vw - 12px);
    }
    .asset-4 {
        max-width: 120px !important;
        height: auto;
        top:  calc(50vh - 160px);
        left: calc(50vw - 60px);
    }
    .clients-desktop {display: none;}
    .clients-mobile {
        font-size: 1.6rem;
        padding: 0 12px;
        display: block;}

    .section{
        font-size: 2em;
    }
    .pattern .desktop{
        display: none;
    }
    .pattern .mobile {
        display: block;
        height: 100vh;
        width: fit-content;
        overflow: hidden;
    }
    .LOGOTYPE {
        position: absolute;
        margin-left: auto;
        left: auto;
        right: 10vw;
        width: 80vw;
        height: auto;
        display: blo
}
.telling {
    margin-bottom: -12px;
    margin-left: 0px;
    margin-right: 0px;
}
.form-image p {
    font-size: 0.5em;
    margin-top: 8px;
}
}